:root {
    --primaryColor: #FAF1E6;
    --secondaryColour: #FDFAF6;
    --tetiaryColor: #E4EFE7;
    --logoColor: invert(89%) sepia(9%) saturate(286%) hue-rotate(156deg) brightness(111%) contrast(87%);
    --textColour: #064420;
}
[data-theme='dark'] {
    --primaryColor: #232323;
    --secondaryColour: #4f4e4e;
    --tetiaryColor: #3bce4e;
    --logoColor: invert(65%) sepia(10%) saturate(3172%) hue-rotate(77deg) brightness(103%) contrast(81%);
    --textColour: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a, p, h1, h2, h3, h4, h5, h6{
    color:var(--textColour);
    text-decoration: none;
}

h1{
    font-size: 40px
}

h2 {
    font-size: 35px
}

h3 {
    font-size: 25px;
}

button {
    padding: 1rem;
    background-color: var(--tetiaryColor);
    color: var(--textColour);
    border: none;
    font-size: 1rem;
    border-radius: 1rem;
    margin: 1rem
}

.App {
    background-color: var(--primaryColor);
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--primaryColor);
    height: 5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:space-around;
    width: 100%;
}
header a {
    margin: 0 0.5rem;
}
.topNav, .siteLinks {
    width: 50%;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}
.siteLinks{
    justify-content:center
}
.topNav {
    justify-content: flex-end
}
.headerButton {
    margin: 2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerLogo {
    width: 1.2rem;
    height: 1.2rem;
    filter: var(--textColour);
}
    .headerLogo:hover {
        width: 1.45rem;
        height: 1.45rem;
    }
select{
    display:block;
    background-color: var(--secondaryColour);
    border-color: var(--secondaryColour);
    border-radius: 0.5rem;
    text-align: center;
    border-block-width: 0;
    transition: all 250ms ease;
    width: 7rem;
    height: 1.8rem;
}
.nav-btn{
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColour);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

#profile {
    background-image: linear-gradient(to bottom right, var(--primaryColor), var(--secondaryColour));
    display: flex;
    align-items: center;
    height: 32rem;
}
.image {
    width: 50%;
    padding: 1rem;
    height: 80%;
    display: flex;
    justify-content: center;
}
    .image img {
        width: auto;
        border-radius: 5rem;
    }
hr {
    color: var(--tetiaryColor);
    width: 100%;
}
.writing {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding:0 20% 0 0;
    height: 100%;
    width: 50%;
}
.upper{
    font-size: 60px;
}

#animation {
    background-image: linear-gradient(to bottom left, var(--secondaryColour), var(--primaryColor));
}

#aboutMe {
    background-image: linear-gradient(to bottom left, var(--secondaryColour), var(--primaryColor));
    height: 25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.aboutMeWriting {
    height: 80%;
    display: flex;
    justify-content: center;
    width: 65%;
}

#portfolio {
    background-image: linear-gradient(to bottom right, var(--primaryColor), var(--secondaryColour));
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.swiper{
    height: 40%;
    width: 40%;
}
.slide {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: auto;
}
.slide img { 
    width:100%;
    object-fit:contain;
}

#service {
    background-image: linear-gradient(to bottom left, var(--secondaryColour), var(--primaryColor));
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0
}
.idea {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 35rem;
    justify-content:center;
    align-items: center;
}
.idea h3 {
    width: 60%;
    text-align: center;
}
.execution, .development{
    height:100%;
    width:35%;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
    align-items: center;
}
.serviceLogo {
    width: auto;
    height: 10rem;
}
.ideaImage {
    width: auto;
    padding: 1rem;
    height: auto;
    display: flex;
    justify-content: center;
}

#socials {
    background-image: linear-gradient(to bottom right, var(--primaryColor), var(--secondaryColour));
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#socials section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.socialLink {
    display: flex;
    align-items: center;
    width: 11rem;
    height: 11rem;
    margin: 2rem 4rem;
}
.socialLink img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#items {
    background-image: linear-gradient(to bottom right, var(--primaryColor), var(--secondaryColour));
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.itemSwiper {
    background-color: var(--tetiaryColor);
    height: 60%;
    width: 60%;
}

footer{
    height: 10rem;
    background-color: var(--primaryColor);
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}
footer div{
    height: 100%;
    width:auto;
    display:flex;
    align-items:center;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 770px) {
    h1 {
        font-size: 30px
    }

    h2 {
        font-size: 23px
    }

    h3 {
        font-size: 15px;
    }

    button {
        padding: 0.8rem;
        margin: 0.5rem
    }

    .siteLinks {
        justify-content: space-evenly;
        width: 80%;
    }

    .topNav {
        justify-content: flex-end;
        width: 20%;
    }

    .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    .nav {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--primaryColor);
        transition: 1s;
    }

    .responsive_nav {
        transform: translateY(100vh);
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    #profile {
        flex-direction: column;
        height: auto;
        margin: 0rem 0 0;
    }

    .image {
        width: 20rem;
        height: 20rem;
    }

        .image img {
            width: 75%;
            border-radius: 2rem;
        }

    hr {
        width: 50%;
    }

    .writing {
        padding: 0;
        text-align: center;
        height: auto;
        width: 100%;
    }

    .lower {
        margin: 1rem;
    }

    .upper {
        font-size: 50px;
        margin: 1.5rem;
    }

    #aboutMe {
        height: auto;
    }

    .aboutMeWriting {
        width: 60%;
    }

    #portfolio {
        height: auto;
    }

    .swiper {
        height: 20rem;
        width: 60%;
    }

    .idea {
        flex-direction: column;
        height: auto;
    }

    .execution, .development {
        width: 80%;
    }

    .idea h2 {
        margin: 0.5rem;
    }

    .serviceLogo {
        width: auto;
        height: 6rem;
    }

    #items {
        height: auto;
        padding: 0 0 2rem;
    }

    .itemSwiper {
        height: 20rem;
        width: 75%;
        margin: 1rem 0;
    }

    footer {
        height: 6rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) and (max-width: 770px) and (orientation: portrait) {
    
}*/

/* Small devices on landscape */
/* @media only screen and (min-width: 769px) and (max-width: 992px) and (orientation: landscape) {
    
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 770px) and (max-width: 992px){
    .siteLinks{
        width: 70%;
        justify-content: center;
    }
    .topNav {
        justify-content: center;
        width: 30%;
    }
    .nav-btn {
        visibility: visible;
        opacity: 1;
    }
    .nav {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--primaryColor);
        transition: 1s;
    }
    .responsive_nav {
        transform: translateY(100vh);
    }
    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .image {
        width: 55%;
        height: 85%;
    }
    .writing {
        text-align: center;
    }
    
    #aboutMe {
        height: 32rem;
    }
    .aboutMeWriting {
        width: 70%;
    }

    .swiper {
        margin: 2%;
        height: 75%;
        width: 75%;
    }

    #service {
        height: auto;
        padding: 2rem 0
    }
    .idea {
        height: 32rem;
    }
        .idea h3 {
            width: 70%;
        }
    .execution, .development {
        height: 100%;
        width: 45%;
    }
    .serviceLogo {
        width: auto;
        height: 11rem;
    }

    #items {
        height: 90%;
    }

    .itemSwiper {
        height: 65%;
        width: 75%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
