:root {
    --primaryColor: #232323;
    --secondaryColour: #343030;
    --tetiaryColor: #3bce4e;
    --textColour: #ffffff;
}
[data-theme='dark'] {
    --primaryColor: #404258;
    --secondaryColour: #474E68;
    --tetiaryColor: #50577A;
    --textColour: #6B728E;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a, p, h1, h2, h3, h4, h5, h6{
    color:var(--textColour);
    text-decoration: none;
}

.App {
    background-color: var(--primaryColor);
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--primaryColor);
    height: 4rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    margin-bottom: 2rem;
}
.siteLinks{
    width: auto;
    display: flex;
    flex-direction:row;
    align-items: center;
}
.siteLinks a {
    margin: 0 0.5rem;
}
.headerButton {
    margin: 2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerLogo {
    width: 1.2rem;
    height: 1.2rem;
}
    .headerLogo:hover {
        width: 1.45rem;
        height: 1.45rem;
    }

#profile {
    background-image: linear-gradient(to bottom right, var(--primaryColor), var(--secondaryColour));
    display: flex;
    height: 32rem;
}
.image {
    width: 50%;
    padding: 1rem;
    height: auto;
    display: flex;
    justify-content: center;
}
    .image img {
        width: auto;
        border-radius: 2rem;
    }
.writing {
    padding: 7rem 0;
    width: 30%;
}


#portfolio {
    background-image: linear-gradient(to bottom left, var(--secondaryColour), var(--primaryColor));
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.swiper{
    height: 25rem;
    width: 80%;
}
.slide{
    background-color: var(--tetiaryColor);
}
.buttonGroup{
    margin: 1rem;
}

#service {
    height: auto;
    background-image: linear-gradient(to bottom right, var(--primaryColor), var(--secondaryColour));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0
}
.idea {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 30rem;
    justify-content:center;
    align-items: center;
}
.execution, .development{
    height:80%;
    width:30%;
    margin:0 5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
    align-items: center;
}
    .execution h3, .development h3 {
        width: 60%
    }
.ideaImage {
    width: 35%;
    padding: 1rem;
    height: 35%;
    display: flex;
    justify-content: center;
} 
    .ideaImage img {
        width: auto;
    }

#findMe {
    height: 22rem;
    background-image: linear-gradient(to bottom left, var(--secondaryColour), var(--primaryColor));
    display: flex;
    justify-content: center;
}

#items {
    background-image: linear-gradient(to bottom right, var(--primaryColor), var(--secondaryColour));
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.itemSwiper {
    background-color: var(--tetiaryColor);
    height: 70%;
    width: 100%;
}

footer{
    height: 10rem;
    background-color: var(--primaryColor);
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}
footer div{
    height: 100%;
    width:auto;
    display:flex;
    align-items:center;
}